@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap");

/* MIXINS */
@mixin mobile {
  @media (max-width: 640px) {
    @content;
  }
}

/* MAIN */
* {
  text-align: start;
}

h2 {
  font-size: 30px;

  @include mobile {
    font-size: 21px;
  }
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
}

p {
  font-size: 14px;
}

body {
  font-family: "Exo 2", sans-serif;
}

#root,
section {
  background: #ecf7ff;
}

svg {
  flex-shrink: 0;
}

button {
  cursor: pointer;
}

/* CONTAINERS */
.container {
  margin: 0 auto;
  max-width: 1900px;
}

/* BLOCKS */

